<!-- // 1 container flex para contener a su vez 2 contenedores flex que sean del tamaño de la mitad del primero  el de la izquierda tiene que tener una imagen y el de la derecha un texto y un boton -->

  <div class="row m-0">
    <div class="col-md-6 inner-container left-container img-background-container">
      <img src="../../../../../assets/img/img-me.png" alt="Imagen"  />
    </div>
    <div class="col-md-6 inner-container right-container">
      <p>Texto descriptivo aquí</p>
    </div>
  </div>

