
<div class="row m-0 ">


    <div class="col-md-6  left-container left-container__img--work ">
      <p-galleria
      #galleria
      [value]="images"
      [(activeIndex)]="activeIndex"
      [numVisible]="5"
      [showThumbnails]="false"
      [showItemNavigators]="true"
      [showItemNavigatorsOnHover]="true"
      [circular]="true"
      [autoPlay]="true"
      [transitionInterval]="3000"
      [containerStyle]="{ 'max-width': '640px' }"
      [containerClass]="galleriaClass()"
  >
      <ng-template pTemplate="item" let-item>
          <img [src]="item.itemImageSrc" [ngStyle]="{ width: !fullscreen ? '100%' : '', display: !fullscreen ? 'block' : '' }" />
      </ng-template>
      <ng-template pTemplate="thumbnail" let-item>
          <div class="grid grid-nogutter justify-content-center">
              <img [src]="item.thumbnailImageSrc" />
          </div>
      </ng-template>
      <ng-template pTemplate="footer" let-item>
          <div class="custom-galleria-footer">
              <button type="button" pButton icon="pi pi-list" (click)="onThumbnailButtonClick()"></button>
              <span *ngIf="images" class="title-container">
                  <span>{{ activeIndex + 1 }}/{{ images.length }}</span>
                  <span class="title">{{ images[activeIndex].title }}</span>
                  <span>{{ images[activeIndex].alt }}</span>
              </span>
              <button type="button" pButton [icon]="fullScreenIcon()" (click)="toggleFullScreen()" class="fullscreen-button"></button>
          </div>
      </ng-template>
  </p-galleria>
    </div>


    <div class="col-md-6  right-container ">
      <article class="right-container__text">
        <p class="right-container-work__text--title">Kiesraad</p>
  
        <p class="right-container-work__text--time">may. 2022 - may. 2023</p>
        <p class="right-container-work__text--description ">Development and layout of the Front end of a new Nx Monorepro application that is being developed for the electoral council of the government of the Netherlands. 
          <br>
          Here I was in charge of making new developments in the application and to develop and layout a library of custom components with PrimeNg for all the applications of the project. In addition, I developed and designed a Home portal project that would have the home page of all the projects in the repository. </p>
  
        <div class="col-md-12"> 
         <p class="right-container-work__text--stack">Technology Stack: Nx, Angular 14.2, PrimeNg 14, SCSS, SASS, Html5 and for translations Transloco. Figma for layouts.</p> 
        </div> 
      </article> 
    </div>
  </div>

 