<div class="row m-0">
  <div class="col-md-6 left-container__img--work md:flex md:justify-content-center">
    <p-galleria #galleria [value]="images" [(activeIndex)]="activeIndex" [numVisible]="5"
      [responsiveOptions]="responsiveOptions" [showThumbnails]="showThumbnails" [showItemNavigators]="true"
      [showItemNavigatorsOnHover]="true" [circular]="true" [autoPlay]="true" shouldStopAutoplayByClick="true"
      [transitionInterval]="5000" [containerStyle]="{ width: '100%', 'max-height': '600px' }"
      [containerClass]="galleriaClass()">
      <ng-template pTemplate="item" let-item>
        <img [src]="item.itemImageSrc" [class]="item.imgClass" [ngClass]="{
            'format-img__gallery': !fullscreen,
            'format-img__gallery--fullscreen': fullscreen
          }" />
      </ng-template>
      <ng-template pTemplate="thumbnail" let-item>
        <div class="grid grid-nogutter justify-content-center">
          <img [src]="item.thumbnailImageSrc" />
        </div>
      </ng-template>
      <ng-template pTemplate="footer" let-item>
        <div class="custom-galleria-footer">
          <button type="button" pButton icon="pi pi-list" (click)="onThumbnailButtonClick('images')"></button>
          <span *ngIf="images" class="title-container">
            <span>{{ activeIndex + 1 }}/{{ images.length }}</span>
            <span class="title">{{ images[activeIndex].title }}</span>
            <span>{{ images[activeIndex].alt }}</span>
          </span>
          <button type="button" pButton [icon]="fullScreenIcon()" (click)="toggleFullScreen('images')"
            class="fullscreen-button"></button>
        </div>
      </ng-template>
    </p-galleria>
  </div>

  <div class="col-md-6 right-container right-container-work">
    <article class="right-container__text">
      <p class="right-container-work__text--title">Kiesraad</p>

      <p class="right-container-work__text--time">may. 2022 - may. 2023</p>
      <p class="right-container-work__text--description">
        Development and layout of the Front end of a new Nx Monorepro
        application that is being developed for the electoral council of the
        government of the Netherlands.
        <br />
        Here I was in charge of making new developments in the application and
        to develop and layout a library of custom components with PrimeNg for
        all the applications of the project. In addition, I developed and
        designed a Home portal project that would have the home page of all the
        projects in the repository.
      </p>

      <div class="col-md-12">
        <p class="right-container-work__text--stack">
          Technology Stack: Nx, Angular 14.2, PrimeNg 14, SCSS, SASS, Html5 and
          for translations Transloco. Figma for layouts.
        </p>
      </div>
    </article>
  </div>
</div>

<div class="row m-0">
  <div class="col-md-6 right-container">
    <article class="right-container__text">
      <p class="right-container-work__text--title">CrowdSender</p>

      <p class="right-container-work__text--time">dic. 2021 - abr. 2022</p>
      <p class="right-container-work__text--description">
        CrowdFarming Start-up project in which I participated as a front-end
        developer in the Crowdsender web application, a shipping logistics
        application.
        <br />
        I was in the initial phase of the development and layout of the website.
        I was part of the login and dashboard.
      </p>

      <div class="col-md-12">
        <p class="right-container-work__text--stack">
          Open Project:
          <a class="link-secondary" target="”_blank”" href="https://www.crowdsender.io/">https://www.crowdsender.io/</a>
        </p>

        <p class="right-container-work__text--stack">
          Technology Stack: Angular 13, PrimeNg 13, SCSS, SASS, Html5. Figma for
          the designs.
        </p>
      </div>
    </article>
  </div>
  <div class="col-md-6 left-container__img--work">
    <p-galleria #galleria2 [value]="images2" [(activeIndex)]="activeIndex2" [numVisible]="5"
      [responsiveOptions]="responsiveOptions" [showThumbnails]="showThumbnails2" [showItemNavigators]="true"
      [showItemNavigatorsOnHover]="true" [circular]="true" [autoPlay]="true" shouldStopAutoplayByClick="true"
      [transitionInterval]="5000" [containerStyle]="{ width: '100%', 'max-height': '600px' }"
      [containerClass]="galleriaClass()">
      <ng-template pTemplate="item" let-item>
        <img [src]="item.itemImageSrc" [class]="item.imgClass" [ngClass]="{
            'format-img__gallery': !fullscreen,
            'format-img__gallery--fullscreen': fullscreen
          }" />
      </ng-template>
      <ng-template pTemplate="thumbnail2" let-item>
        <div class="grid grid-nogutter justify-content-center">
          <img [src]="item.thumbnailImageSrc" />
        </div>
      </ng-template>
      <ng-template pTemplate="footer" let-item>
        <div class="custom-galleria-footer">
          <button type="button" pButton icon="pi pi-list" (click)="onThumbnailButtonClick('images2')"></button>
          <span *ngIf="images2" class="title-container">
            <span>{{ activeIndex2 + 1 }}/{{ images2.length }}</span>
            <span class="title">{{ images2[activeIndex2].title }}</span>
            <span>{{ images2[activeIndex2].alt }}</span>
          </span>
          <button type="button" pButton [icon]="fullScreenIcon()" (click)="toggleFullScreen('images2')"
            class="fullscreen-button"></button>
        </div>
      </ng-template>
    </p-galleria>
  </div>
</div>

<div class="row m-0">
  <div class="col-md-6  p-5 left-container__img--work md:flex md:justify-content-center">
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-12   bg-light"><img src="../../../../../assets/img/work/third/accenture.svg"
          alt=""></div>

      <div class="col-lg-4 col-md-6 col-sm-12   bg-light"><img src="../../../../../assets/img/work/third/vodafone.svg"
          alt=""></div>

      <div class="col-lg-4 col-md-6 col-sm-12   bg-light"><img src="../../../../../assets/img/work/third/orange.svg"
          alt=""></div>

      <div class="col-lg-4 col-md-6 col-sm-12    bg-light"><img src="../../../../../assets/img/work/third/bbva.svg"
          alt=""></div>

      <div class="col-lg-4 col-md-6 col-sm-12    bg-light"><img src="../../../../../assets/img/work/third/santander.svg"
          alt=""></div>

      <div class="col-lg-4 col-md-6 col-sm-12   bg-light"><img src="../../../../../assets/img/work/third/sabadell.svg"
          alt=""></div>

      <div class="col-lg-4 col-md-6 col-sm-12   bg-light"><img src="../../../../../assets/img/work/third/liberbank.svg"
          alt=""></div>

      <div class="col-lg-4 col-md-6 col-sm-12   bg-light"><img src="../../../../../assets/img/work/third/bankia.svg"
          alt=""></div>
          <div class="col-lg-4 col-md-6 col-sm-12   bg-light"></div>
    </div>
  </div>

  <div class="col-md-6 right-container right-container-work">
    <article class="right-container__text">
      <p class="right-container-work__text--title">Accenture</p>
      <p class="right-container-work__text--time">mar. 2018 - ago. 2021</p>
      <p class="right-container-work__text--description">
        This was my initial experience in the world of web development. Here I was in projects for several banks (BBVA,
        Banco Santander, Sabadell, Liberbank, Bankia) telecommunications (Vodafone, Orange) and in projects for
        Accenture itself.
        <br />
        This is not about a specific job but about my experience in those 3+ years as a front-end developer. I don't
        have content of these projects. I can only tell in a general way that I was as a developer and layout designer
        for evolutivos in projects with years of development and some that were from the initial phase.
      </p>

      <div class="col-md-12">
        <p class="right-container-work__text--stack">
          Technology Stack: AngularJs, Angular v. 1.6-11, Java, Javascript, Typescript, Scss, HTML5, Angular Material,
          Bootstrap, Databases (MySQL, MongoDB), D3.js, Postman, Jenkins, Agile Methodologies, Scrum, Git and Adobe
          Illustrator.
        </p>
      </div>
    </article>
  </div>
</div>