<div class="stage p-5">
  <div class="container-flex container-flex-carousel">

    <button #backButton (click)="onPrevClick()" class="carousel-control-prev ">
      <span class="carousel-control-prev-icon"></span>
    </button>

    <div class="card-selector">
      <div #cardDeck class="card-container"> 
        @for (imageUrl of imageUrls; track $index) { 
          <div class="cards " (mouseenter)="onImgMouseover()"
          (mouseleave)="onImgMouseout()">
          <!-- <a [routerLink]="['/routePath']" routerLinkActive="router-link-active" > -->

          <a class="carousel-item-custom-link" >
            <img [src]="imageUrl" alt="Image {{ $index }}"  class="carousel-item-custom animationBackground" [style.object-position]="objectPositionPercentage + '% center'"/>
            <div class="overlay-text">MAYY</div> 
          </a>
          </div>
        }

      </div>
    </div>
       <button #nextButton (click)="onNextClick()" class="carousel-control-next">
        <span class="carousel-control-next-icon"></span>
      </button>
    </div>

  </div>