 
  <div class="stage p-5">
    <div class="container-flex container-flex-carousel">

      <button class="carousel-control-prev " >
        <span class="carousel-control-prev-icon"></span>
      </button>

      <div class="card-selector">
        <ul class="card-container">
          <li class="cards shownCard">
            <div id="actualCards" class="carousel-item"></div>
          </li>
          <li class="cards">
            <div id="actualCards" class="carousel-item"></div>
          </li>
          <li class="cards">
            <div id="actualCards" class="carousel-item"></div>
          </li>
          <li class="cards">
            <div id="actualCards" class="carousel-item">
            </div>
          </li>
        </ul>
      </div>

      <!-- Carousel controls -->
      <button class="carousel-control-next"  >
        <span class="carousel-control-next-icon"></span>
      </button>
    </div>
    
  </div>  
  
 
