.main-panel--button {
  &:not(.p-button-outlined, .p-button-text, .nav-item-home, p-button) {
    display: flex;
    align-items: center;
    text-align: center;
    color: #dafffb;
    border-radius: 8px;
    border: 1px solid $primary-400;
    background: $primary-700;

    &:enabled:hover {
      background: $primary-700;
      color: $primary-400;
      border: 1px solid $primary-700;
      box-shadow: inset 0px 0 6px 1px $primary-400;
    }

    &:enabled:active {
      background: $primary-400;
      color: $primary-700;
      border: 1px solid $primary-700;
      box-shadow: 0px 0 9px 1px $primary-400;
    }
    &:focus {
      border: 1px solid $primary-400;
      box-shadow: 0px 0 9px 1px $primary-400;
    }
    &:disabled {
      background: $primary-500;
      border: 1px solid $primary-500;
      opacity: 0.6;
    }
  }

  // &:is(p-button){
  //   .p-ripple {
  //     display: flex;
  //     flex-direction: row;
  //     gap: 8px;
  //     align-items: center;
  //     padding: .5625rem 1rem; // 9px 16px
  //     font-size: 16px;
  //     line-height: 1;
  //     background: $primary-500;
  //     border: 1px solid $primary-500;
  //     border-radius: 8px;

  //     .p-button-icon-right{
  //       margin-left: 0;
  //     }

  //     .p-button-icon-left {
  //       margin-right: 0;
  //     }

  //     &:hover:enabled {
  //       background: $primary-600;
  //       border: 1px solid $primary-600;
  //     }

  //     &:active:enabled {
  //       background: $primary-700;
  //       border: 1px solid $primary-700;
  //     }
  //   }
  // }
}
