<div class="row m-0">
  <div class="col-md-6 left-container__img--work md:flex md:justify-content-center">
   
  </div>
SKILLS WORKS
  <div class="col-md-6 right-container right-container-work">
    <article class="right-container__text">
      <p class="right-container-work__text--title">Kiesraad</p>

      <p class="right-container-work__text--time">may. 2022 - may. 2023</p>
      <p class="right-container-work__text--description">
        Development and layout of the Front end of a new Nx Monorepro
        application that is being developed for the electoral council of the
        government of the Netherlands.
        <br />
        Here I was in charge of making new developments in the application and
        to develop and layout a library of custom components with PrimeNg for
        all the applications of the project. In addition, I developed and
        designed a Home portal project that would have the home page of all the
        projects in the repository.
      </p>

      <div class="col-md-12">
        <p class="right-container-work__text--stack">
          Technology Stack: Nx, Angular 14.2, PrimeNg 14, SCSS, SASS, Html5 and
          for translations Transloco. Figma for layouts.
        </p>
      </div>
    </article>
  </div>
</div>
