.main-panel {
  &-overflow {
    // overflow: hidden;
    // min-height: 700x;

    // display: flex;
    position: sticky;
  }

  &--text {
    text-align: center;
    font-family: $font-family-root-heavy;
    font-size: 96px;
    font-weight: 600;
    line-height: 116px;
    /* 120.833% */
    letter-spacing: -1.44px;
    color: #dafffb;
    text-shadow: 0px 8px 4px #000000;
  }
}

.parallax-container {
  width: 100%;
  height: 1055px;
  overflow: hidden;
  background: url("../../../assets/img/fondo_panel.png"), lightgray -129px -0.226px / 115.357% 104.055% no-repeat;
  box-shadow: 10px 23px 250px 41px #000 inset;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 1862px 105%;
  // margin-left: -3%;
  // margin-right: -3%;
  display: flex; 
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;

  &--flex {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 56px;
    padding: 13.5% 0px 0px 0px;
  }
}