$neutral-0: #fff;
$neutral-10: #f8f8f9;
$neutral-50: #fffef9cc;
// $neutral-50: #eceeef;
// $neutral-100: #d9dcdf;
// $neutral-200: #b3b8be;
// $neutral-300: #8c959e;
// $neutral-400: #66717d;
// $neutral-500: #404e5d;
// $neutral-600: #303b46;
// $neutral-700: #20272f;
// $neutral-800: #101417;
// $neutral-900: #060809;

$primary-10: #f5f8fb;
$primary-300: #6691bf;
$primary-400: #DAFFFB;
$primary-500: #64CCC5;
$primary-600: #176B87;
$primary-700: #060918;