h1,
.h1 {
  font-family: $font-family-root;
  //   TO DEFINE
}
h2,
.h2 {
  //   TO DEFINE
}

h3,
.h3 {
  @extend .h1;
  //   TO DEFINE
  //   font-size: 14px;
  //   line-height: 15px;
}

h4,
.h4 {
  @extend .h1;
  //   TO DEFINE
}

h5 {
  @extend .h1;
  //   TO DEFINE
}

// TO DEFINE STYLES PROVISIONALLY

.right-container--text .right-container--text-name strong {
  color: $neutral-0;
  font-family: "Burford Base";
  font-size: 40px;
  font-style: normal;
  font-weight: 400; 
  letter-spacing: -0.6px;
  text-shadow: none;
}

.right-container--text .right-container--text-surname strong {
  color: $primary-500;
  font-family: "Burford Base";
  font-size: 70px;
  font-style: normal;
  font-weight: 400;
  line-height: 60px;
  letter-spacing: -0.6px;
  text-shadow: none;
}
