@font-face {
  font-family: "Burford Base";
  font-style: normal;
  font-weight: normal;
  font-stretch: 100%;
  font-display: swap;
  src: local("Burford Base"),
    url("../../assets/fonts/burford/Burford-Base.woff") format("woff");
}
