<footer>
  <div class="container-fluid">
<!-- logo -->
    <div class="d-flex justify-content-center">
      <p class="footer-brand footer-brand--text">AYU</p>
    </div>

    <hr />

<!-- nav bar -->
    <div class="col-md-12">
      <ul class="footer-nav mx-auto d-flex align-items-center" style="--bs-scroll-height: 100px">
        <li class="nav-item">
          <a class="nav-link active" [routerLinkActive]="'active'" [routerLink]="['/work']" fragment="work">
            Work
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" [routerLinkActive]="'active'" [routerLink]="['/about']" fragment="about">
            About
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" [routerLinkActive]="'active'" [routerLink]="['/work']" fragment="work">
            My skills
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" [routerLinkActive]="'active'" [routerLink]="['/work']" fragment="work">
            Experience/Education
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" [routerLinkActive]="'active'" [routerLink]="['/work']" fragment="work">
            Contact
          </a>
        </li>
      </ul>
    </div>

    <hr />

<!-- social-media bar -->
    <div class="col-md-12 footer-bottom">
      <p class="d-flex w-50 order-0 footer-text footer-text-left">
        © 2023 Diego Del Barrio Ayuso
      </p>
      <div class="justify-content-center order-1 footer-social-media">
        <a href="/" target="_blank" class="mx-2">
          <img class="media-icon" src="../../../../assets/img/social-media/github.svg" alt="Github link" />
        </a>
        <a href="/" target="_blank" class="mx-2">
          <img class="media-icon" src="../../../../assets/img/social-media/linkedin.svg" alt="linkedin link" />
        </a>
        <a href="/" target="_blank" class="mx-2">
          <img class="media-icon" src="../../../../assets/img/social-media/behance.svg" alt="behance link" />
        </a>
      </div>
      <p class="footer-text text-truncate w-50 ext-truncate w-50 text-end order-2 order-md-last footer-text-right">
        Imprint
      </p>
    </div>

  </div>
</footer>