
  <div class="stage p-5">
    <div class="container-flex container-flex-carousel">


    <div id="slider-reference" class="row">
    <div class="col-4 offset-4">
      <div style="border-left: 1px solid red">&nbsp;</div>
    </div>
  </div>
  
      <div id="slider-container" class="row">
        <div
          id="slider"
          class="col-4 offset-4 d-flex"
          [scrollable-duration]="300"
          [scrollable-slide-size]="415"
          [scrollable-source]="source"
          scrollable
        >
        @for (item of source; track $index) {
          <div class="card long"  >
            <div class="image" [style.backgroundImage]="item.image"></div>
            <div class="texts">
              <span class="date">{{ item.date }}</span>
              <span class="title">{{ item.title }}</span>
              <span class="age">{{ item.age }}</span>
            </div>
          </div>
        }
        </div>
      </div>
  
    </div>
  </div> 